[Unit]
Description=OpenStack Keystone

[Service]
Type=simple
ExecStart=/usr/bin/glance-registry
StandardOutput=syslog
StandardError=syslog
Restart=always
User=glance

[Install]
WantedBy=multi-user.target
