[Unit]
Description=OpenStack Nova Network Service

[Service]
Type=simple
ExecStart=/usr/bin/nova-network --flagfile=/etc/nova/nova.conf
StandardOutput=syslog
StandardError=syslog
Restart=always
User=nova

[Install]
WantedBy=multi-user.target
